Library
Logs
My project (2).sln
.vsconfig
.vs
MagicalMaterialMixing.sln
Temp
MagicalMaterialMixing/.vs/MagicalMaterialMixing/v17/.suo
MagicalMaterialMixing/.vs/MagicalMaterialMixing/v17/DocumentLayout.backup.json
MagicalMaterialMixing/.vs/MagicalMaterialMixing/v17/DocumentLayout.json
MagicalMaterialMixing/.vs/MagicalMaterialMixing/v17/.suo
MagicalMaterialMixing/.vs/MagicalMaterialMixing/v17/DocumentLayout.backup.json
MagicalMaterialMixing/.vs/MagicalMaterialMixing/v17/DocumentLayout.json
/MagicalMaterialMixing/.vs
